.oppo{

    text-align: end;
    color: blueviolet;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tiat{
    text-align: center;

    font-style: italic;
    font-size: x-large;
    font: 100;
    background-color: aqua;
    background-position: 0cap;
    
    
}
.box{
    color: rgb(241, 8, 163);
    text-size-adjust: 10px;
    text-align: center;
    background-position: 0vh;
    background-color: rgb(237, 237, 244);
    margin-top: auto;
    box-shadow: inset;
    box-sizing: calc();
    

}
.samokal{
    color: blueviolet;
}